
	
<h1><%= image_tag("logoultra250CinzaEscuro.png", size: "100x100", alt: "Ultravisao") %> Ultravisão no Brasil</h1>
<hr>

<% if admin_signed_in? %>
<%= link_to 'Cadastrar Estados', new_estado_path , class: "btn btn-primary"%>
<%= link_to 'Cadastrar Cidades', new_estado_cidade_path(:estado_id), class: "btn btn-primary" %>
<hr>
<% end %>

<% @estados.each do |estado| %>
	<h3><%= link_to estado.name, estado %></h3>
	<% if admin_signed_in? %>
		<%= link_to 'Edit', edit_estado_path(estado), class: "btn btn-sm btn-default" %>
			<%= link_to 'Delete', estado, method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-sm btn-danger"  %>
		<% end %>
<% end %>