<h1><%= image_tag("logoultra250CinzaEscuro.png", size: "100x100", alt: "Ultravisao") %> <%= @estado.name %></h1>
<%= link_to 'Voltar', estados_path, class: "btn btn-default" %>

<hr>
	<% @cidades.each do |cidade| %>
		<h3><%= link_to cidade.name, cidade %></h3>

		<% if admin_signed_in? %>
			<%= link_to 'Deletar', cidade_path(cidade), method: :delete , data: { confirm: "Tem Certeza?" } , class: "btn btn-sm btn-danger" %>
		<% end %>
	<% end %>