<!DOCTYPE html>
<html>
<head>
  <title>Ultra</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
    <!-- Animate CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">

<div class="container">


	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a>
		<!-- <%= link_to image_tag( 'logoUltra.png', size: "50x50"), root_path, id: "logo" %> -->
			<%= link_to "Ultra", root_path , class: "navbar-brand" %>
		</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
		</ul>
		<ul class="nav navbar-nav navbar-right">
				<% if admin_signed_in? %>
			<ul class="nav navbar-nav navbar-right">
					<li>	
					<%= link_to current_admin.email + " ( " "#{current_admin.name}"  " )" , edit_admin_registration_path %>
					</li>
					<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cadastros <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
            	<%= link_to 'Estados', estados_path %>
            </li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
		
					<li>
					<%= link_to 'Log Out', destroy_admin_session_path,  method: :delete %>
					</li>


			</ul>



			<% else %>

			<li>
				<%= link_to 'Sobre', :sobre %>
			</li>
			<li>
				<%= link_to 'Lojas', :estados %>
			</li>
			<li>
				<%= link_to 'Franquias', :franquias %>
			</li>
			<li>
				<%= link_to 'Contato', :contato %>
			</li>
		</ul>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->

	<% end %>



</nav>

</div>

<!-- 

<div class="alert">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	</strong>
</div> 

<!-- 
<% flash.each do |name,msg| %>
<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>
 -->

<div class="container">

<%= yield %>


</div>
</body>
</html>


<!-- 
<div class="container">
<div class="col-md-5 well">
	
	<h2>Sign up</h2>
	<hr>
	<form>
			<fieldset>
	 -->